# Ignore persistance file to not upload private information
.moodle_data.json
# Ignore generated pdf's
*.pdf
# ignore backups of files
*.back

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### VisualStudioCode ###
.vscode/*
